page-home {
  ion-card-content {
    max-height: 15vh;
  }
  .list{
    ion-item {
      display: block;
      text-align: center;
      margin: 5px;
    }
  }

  ng-component{
    &.app-root{
      z-index: 10000;
    }
  }

  ion-menu{
    ion-item{
      text-align: center;
    }

  }

}