page-home {

  -webkit-backdrop-filter: grayscale(black);

  ion-card-content {
    max-height: 15vh;
  }

  .list{
    ion-item {
      display: block;
      text-align: center;
      margin: 5px;
    }
  }




    ion-item{

      text-align: center;
    }

  }


