page-post {
  ion-title{
    font-size: inherit;
    text-align: center;
  }
  .favIcon{
    position: absolute;
    top: 0;
    right: 5%;


    ion-icon{
      transform: translateY(50%);
      font-size: 5vh;
      top: 50%;
      left: 50%;

    }
  }

  .fixed-content{
    background-color: #eeeeee!important;

  }

  .card-content {
    max-height: 15vh;
  }

  .time{
    display: block;
    right: 3vh;
    bottom: 3vh;
  }

  .cat{
    display: block;
    right: 3vh;
    bottom: 3vh;
  }



  ion-card-content {
    text-justify: inter-word;
  }


  .hide{
    display: none;
  }

}
