<ion-content padding>
  <ion-fab bottom left #fab >
    <button ion-fab color="primary" *ngIf="!saved"><ion-icon name="menu"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab color="primary" (click)="createComment(fab)"><ion-icon name="create"></ion-icon></button>
        <button ion-fab color="primary" *ngIf="button" (click)="save(story, fab)"><ion-icon name="star"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <p [innerHTML]='story.content.rendered'></p>
  <ion-badge color="secondary" class="time" [innerHTML]="'Date: ' + story.date.split('T')[0]"></ion-badge>

  <ion-row class="cat" *ngFor="let cat of category; let i=index" col-sm-1="1">
    <ion-badge class="cat" [innerHTML]="cat.name" (click)="goToCat(cat.id)"></ion-badge>
  </ion-row>
  <ion-title color="dark" id="comments">Comments</ion-title>
  <ion-card *ngFor="let comment of comments" class="card-content">
    <ion-card-content>

      <ion-title id="commentTitle">{{comment.author_name}}</ion-title>
      <ion-item id="commentContent" [innerHTML]="comment.content.rendered"></ion-item>
      <p color="dark" [innerHTML]="'date ' + comment.date.split('T')[0]"></p>

    </ion-card-content>
  </ion-card>

</ion-content>
